export const firebaseConfig = {
    apiKey: "XXX",
    authDomain: "xxx",
    databaseURL: "https://xxx",
    projectId: "xxx",
    storageBucket: "xxx",
    messagingSenderId: "xxx",
    appId: "xxx",
}
